/* FONTS! */
@font-face {
  font-family: Baskerville;
  src: url('fonts/NewBaskervilleStd-Roman.ttf');
}
@font-face {
  font-family: Baskerville;
  font-weight: bold;
  src: url('fonts/NewBaskervilleStd-Bold.ttf');
}

@font-face {
  font-family: Baskerville;
  font-weight: bold;
  font-style: italic;
  src: url('fonts/NewBaskervilleStd-BoldIt.ttf');
}

@font-face {
    font-family: Baskerville;
    font-style: italic;
    src: url('fonts/NewBaskervilleStd-Italic.ttf');
  }

.manrope-regular {
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-style: normal;
}

.manrope-light {
    font-family: 'Manrope', serif;
    letter-spacing: 0.05em;
    font-weight: 200;
    font-style: normal;
  }

body {
  background-color: #fefeff;
}

/* NAVBAR */
.navbar {
  transition: background-color 0.5s ease;
  background-color: #fefeff;
}

.navbar .nav-link {
  color: #232a6c !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(35, 42, 108, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-width: 0;
}
.navbar-nav .nav-item {
  margin-right: 15px; /* Adjust the value as needed */
}

.navbar-nav .nav-link {
  display: block;
  position: relative;
  padding: 0.08em 0;
  overflow: hidden;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.09em;
  background-color: #232a6c;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
  transition: transform 300ms;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link:focus::after {
  transform: translate3d(0, 0, 0);
}

/* VIDEO! */
.video-background {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Hide any overflow */
  background-size: cover;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover; /* Ensure the video covers the entire container */
  z-index: -1;
}

.video-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust the opacity as needed */
    z-index: 0;
  }

/* HEADER */
.content-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fefeff;
  z-index: 1;
}

.content-center h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
  text-shadow: 4px 4px 10px #232a6c;
}

.content-center h1 {
  font-size: 4rem;
  font-family: 'Baskerville', serif;
  color: #fefeff;
  text-shadow: 4px 4px 35px #232a6c;

}

/* COFFEE CHAT BUTTON */
#coffeeChatButton {
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  border-width: 0.09rem;
  position: absolute;
  bottom: -50%; /* Adjust the value as needed to push the button lower */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 35px rgba(35, 42, 108, 0.2);
  color: #fefeff;
  background-color: rgba(35, 42, 108, 0.1);
  transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

#coffeeChatButton:hover {
  color: #000;
  background-color: #fefeff;
  box-shadow: 0px 0px 35px #232a6c;
}

/* DOWN ARROW */
.scroll-down img {
  width: 3rem;
  height: auto;
  color: #fefeff;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* RESPONSIVENESS */
@media (max-width: 992px) {
  .navbar-nav .nav-item {
    margin-right: 0;
  }
  .navbar-nav .nav-link {
    padding: 0.5em 0;
  }

  .content-center h1 {
    font-size: 3rem;
  }
  .content-center h2 {
    font-size: 1.5rem;
  }
}
